<div class="card">
	<div class="header">
		<h4 class="title">La Gestion Par Catégorie</h4>
	</div>
	<form class="content">
			<div class="row">
					<div class="col-md-6">
							<div class="form-group">
								<label for="sel2">Catégorie principale</label>
								<select class="form-control" id="sel2" ng-model="category.mainCategory" required>
    								<option ng-repeat="mainCategory in mainListCategory" value="{{mainCategory.name}}">{{ mainCategory.name }}</option>
  								</select>
							</div>
						</div>	
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputype">Catégorie</label>
							<input type="text" class="form-control border-input" placeholder="Decription" ng-model="category.name" required>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<button class="btn btn-sm btn-info" ng-click="createCategory()" ng-hide = "isClickEdit" ng-disabled = "!category.name && !category.mainCategory"><strong>Sauvegarder</strong></button>
							<button class="btn btn-sm btn-info" ng-click="updateCategory()" ng-show = "isClickEdit"><strong>Sauvegarder</strong></button>
						</div>
					</div>
			</div>
  			</form>
			<div class="content table-responsive">
				<div class="row">
						<div class="col-md-12">
							<div class="form-group">
      							<div class="input-group">
        							<div class="input-group-addon"><i class="fa fa-search"></i></div>
        							<input type="text" class="form-control" placeholder="Chercher" ng-model="SearchCategory">
      							</div>      
   							</div>
						</div>
				</div>
				<table class="table">
					<thead>
						<th>Catégorie principale</th>
						<th>Catégorie</th>
					</thead>
					<tbody>
						<tr ng-repeat="categoryObject in listCategory | filter:SearchCategory">
							<td>{{ categoryObject.mainCategory }}</td>
							<td>{{ categoryObject.name }}</td>
							<td><button class="btn btn-warning" ng-click="getCategory(categoryObject._id)">Edit</button></td>		
						</tr>
					</tbody>
				</table>
			</div>
</div>