<div class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Food Management</h4>		
				<loading></loading>
			</div>
			<div class="content table-responsive">
				<form>
    				<div class="form-group">
      					<div class="input-group">
        					<div class="input-group-addon"><i class="fa fa-search"></i></div>
        						<input type="text" class="form-control" placeholder="Search Name" ng-model="searchFood">
      						</div>      
   						</div>
  				</form>
				<table class="table">
					<thead>
						<th>ID</th>
						<th>Name</th>
						<th>Price</th>
						<th>Restaurant</th>
						<th>Comment</th>
					</thead>
					<tbody>
						<tr ng-repeat="foodItem in listFood | filter:searchFood">
							<td>{{ foodItem._id }}</td>
							<td>{{ foodItem.food_name }}</td>
							<td>{{ foodItem.price }}</td>
							<td>{{ foodItem.res_belong.res_name }}</td>
							<td>{{ foodItem.comments.length }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>