<div class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Gestion des commandes</h4>		
				<loading></loading>
			</div>
			<div class="content">
				  <form>
    				<div class="form-group">
      					<div class="input-group">
        					<div class="input-group-addon"><i class="fa fa-search"></i></div>
        						<input type="text" class="form-control" placeholder="Search Name" ng-model="searchOrder">
      						</div>      
   					</div>
					<div class="form-group">
							<label for="sel1">Sélectionnez votre restaurant</label>
								<select class="form-control" id="sel1" ng-change="loadOrder()" ng-model="restaurant._id" required>
    								<option value="{{restaurant._id}}" ng-repeat="restaurant in restaurantBelongUser">{{ restaurant.res_name }}</option>
  								</select>
					</div>
  				  </form>
				  <div class="panel-group" id="accordion{{order.count}}" role="tablist" aria-multiselectable="true" ng-show="isRestaurantSelectedInOrder" ng-repeat="order in listOrder | filter:searchOrder">
  					<div class="panel panel-default">
    					<div class="panel-heading" role="tab" id="heading{{order.count}}">
      						<h4 class="panel-title">
        						<a role="button" data-toggle="collapse" data-parent="#accordion{{order.count}}" href="#collapse{{order.count}}" aria-expanded="false" aria-controls="collapse{{order.count}}">
									  Commande *{{order.count}}
        						</a>
      						</h4>
    					</div>
    					<div id="collapse{{order.count}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
     						<div class="panel-body">
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-user" aria-hidden="true"></span> Ordre des utilisateurs : {{order.user_order_name}}
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-truck" aria-hidden="true"></span> Expéditeur : {{order.shipper_name}}
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-truck" aria-hidden="true"></span> Expéditeur : {{order.locationorder}}
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-alarm-clock" aria-hidden="true"></span> Ordre du temps : {{order.time_ordered}}
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-alarm-clock" aria-hidden="true"></span> État la livraisonStatut : <span class="label label-success"> {{order.shippingstatus}}</span>
							  		</div>
								 </div>
								 <p></p>
								  <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-alarm-clock" aria-hidden="true"></span> Statut paiement : <span class="label label-success"> {{order.paymentstatus}}</span>
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-money" aria-hidden="true"></span> Livraison gratuite : {{order.feeshipping}}
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
								  		<span class="ti-money" aria-hidden="true"></span> Prix : {{order.total_price}}
							  		</div>
								 </div>
								 <p></p>
								 <div class="row">
									 <div class="col-md-12">
										  <span class="ti-shopping-cart" aria-hidden="true"></span> <strong>Liste aliments</strong>
							  		</div>
								 </div>
								 <div class="content table-responsive">
									 <table class="table">
										<thead>
											<th><strong>Num</strong></th>
											<th><strong>Quantité</strong></th>
											<th><strong>Prix</strong></th>
										</thead>
										<tbody>
											<tr ng-repeat="food in order.foods | filter:searchOrder">
												<td>{{ food.food_id.food_name }}</td>
												<td>{{ food.quantity }}</td>
												<td>{{ food.food_id.price }}</td>
											</tr>
										</tbody>
									</table>
      							</div>
    						</div>
  						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>