<div class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Gestion des restaurants</h4>			
			</div>
			<div class="content">
				<div class="row" ng-show = "errormsg">
					<div class="col-md-12">
						<div class="alert alert-info" role="alert">
							<a class="alert-link" > {{ errormsg }} </a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						 <a type="button" class="btn btn-sm btn-info" ng-click="showformres()">Ajouter un restaurant</a>
						 <a type="button" class="btn btn-sm btn-info" ng-click="hideformres()" ng-show="isClickAddButton">Fermer la fiche</a>
						 <a type="button" class="btn btn-sm btn-danger" ng-click="delete(restaurant.id)" ng-show="isClickEditButton">Supprimer Restaurant</a>
					</div>
				</div>
				<form id="resform">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Id Admin</label>
								<input type="text" class="form-control border-input" value="{{ user._id }}" disabled>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Nom de restaurant</label>
								<input type="text" class="form-control border-input" placeholder="Restaurant Name" ng-model="restaurant.res_name" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="sel1">Catégorie</label>
								<select class="form-control" id="sel1" ng-model="restaurant.type" required>
    								<option value="{{category._id}}" ng-repeat="category in listCategoryRestaurant">{{ category.name }}</option>
  								</select>
							</div>
						</div>		
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label>Numéro de la maison</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.housenumber" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label>Rue</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.street" required>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="sel2">Code postale</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.postalCode" ng-change="loadCity()" ng-disabled="!restaurant.country.id" required>
							</div>
						</div>	
						<div class="col-md-3">
							<div class="form-group">
								<label for="sel1">Ville</label>
								<select class="form-control" id="sel1" ng-model="restaurant.country.id" required>
    								<option value="{{country.Code}}" ng-repeat="country in countries">{{ country.Country }}</option>
  								</select>
							</div>
						</div>		
						<div class="col-md-2">
							<div class="form-group">
								<label for="sel1">Ville</label>
								<select class="form-control" id="sel1" ng-model="restaurant.city.id" required>
    								<option value="{{city.state}}" ng-repeat="city in cities">{{ city.state }}</option>
  								</select>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="sel1">La description</label>
								<textarea class="form-control" rows="5" ng-model="restaurant.description"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="sel1">Code SIRET</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.codesiret" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="sel1">Horaire d'ouverture</label>
								<input type="datetime" class="form-control border-input" ng-model="restaurant.timeopen" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<label for="sel1">Url Image 1</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.photo1">							
							</div>
						</div>
						<div class="col-md-2">
							<img ng-src="{{restaurant.photo1}}" border=3 height=100 width=100 ng-show="restaurant.photo1"></img>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<label for="sel1">Url Image 2</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.photo2">
							</div>
						</div>
						<div class="col-md-2">
							<img ng-src="{{restaurant.photo2}}" border=3 height=100 width=100 ng-show="restaurant.photo2"></img>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<label for="sel1">Url Image 3</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.photo3">
							</div>
						</div>
						<div class="col-md-2">
							<img ng-src="{{restaurant.photo3}}" border=3 height=100 width=100 ng-show="restaurant.photo3"></img>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<label for="sel1">Url Image 4</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.photo4">
							</div>
						</div>
						<div class="col-md-2">
							<img ng-src="{{restaurant.photo4}}" border=3 height=100 width=100 ng-show="restaurant.photo4"></img>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<label for="sel1">Url Image 5</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.photo5">
							</div>
						</div>
						<div class="col-md-2">
							<img ng-src="{{restaurant.photo5}}" border=3 height=100 width=100 ng-show="restaurant.photo5"></img>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button class="btn btn-sm btn-info" ng-click="validateadd()"><strong>Vérifier L'adresse</strong></button>
								<button class="btn btn-sm btn-info" ng-click="submitres()" ng-disabled="isvalidateadd"><strong>Soumettre</strong></button>
							</div>
						</div>
					</div>
				</form>
				<div class="row" ng-show="isfilledAdd">
					<div class="col-md-12">
						 <div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12" ng-repeat="restaurantItem in restaurantBelongUser">
		<div class="panel panel-info">
  				<div class="panel-heading">
    					<h3 class="panel-title">{{ restaurantItem.res_name }}</h3>
 		 		</div>
  				<div class="panel-body">
					  	<div class="row">
							  <div class="col-md-12">
								  <span class="ti-direction-alt" aria-hidden="true"></span> Location : {{ restaurantItem.location.housenumber }}, {{ restaurantItem.location.street }}, {{ restaurantItem.location.district }}, {{ restaurantItem.location.city }}
							  </div>
					  	</div>
						<div class="row">
							  <div class="col-md-12">
								  <span class="ti-bookmark" aria-hidden="true"></span> Comment : {{ restaurantItem.comments.length }}
							  </div>
					  	</div>
						<div class="row">
							  <div class="col-md-12">
								  <span class="ti-bookmark" aria-hidden="true"></span> Description : {{ restaurantItem.description }}
							  </div>
					  	</div>
						<div class="row">				
							<div class="col-md-12">
								<a ng-click="edit(restaurantItem._id)"><i class="ti-pencil-alt"></i> Modifier</a>
							</div>
						</div>
  				</div>
		</div>
	</div>
</div>
