<div class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Liste des restaurants</h4>		
				<loading></loading>
			</div>
			<div class="content table-responsive">
				<form>
    				<div class="form-group">
      					<div class="input-group">
        					<div class="input-group-addon"><i class="fa fa-search"></i></div>
        						<input type="text" class="form-control" placeholder="Search Name" ng-model="searchRes">
      						</div>      
   						</div>
  				</form>
				<table class="table">
					<thead>
						<th>ID</th>
						<th>Id Admin</th>
						<th>Num</th>
						<th>Adresse</th>
					</thead>
					<tbody>
						<tr ng-repeat="restaurantItem in listRestaurant | filter:searchRes">
							<td>{{ restaurantItem._id }}</td>
							<td>{{ restaurantItem.user_id }}</td>
							<td>{{ restaurantItem.res_name }}</td>
							<td>{{ restaurantItem.location.housenumber }}, {{ restaurantItem.location.street }}, {{ restaurantItem.location.district }}, {{ restaurantItem.location.city }}</td>
							<td><button class="btn btn-warning" ng-click="openMap(restaurantItem.location.point)">Open Google Map</button></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>