<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Restaurant Management</h4>			
			</div>
			<div class="content">
				<div class="row" ng-show = "errormsg">
					<div class="col-md-12">
						<div class="alert alert-info" role="alert">
							<a class="alert-link" ng-click="showformres()"> {{ errormsg }} </a>
						</div>
					</div>
				</div>
				<form id="resform">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Id Admin</label>
								<input type="text" class="form-control border-input" value="{{ user._id }}" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Restaurant Name</label>
								<input type="text" class="form-control border-input" placeholder="Restaurant Name" ng-model="restaurant.res_name">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>House Number</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.housenumber">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="sel2">District</label>
								<select class="form-control" id="sel2" ng-model="restaurant.district.id" ng-disabled="!restaurant.city.id">
    								<option ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
  								</select>
							</div>
						</div>	
						<div class="col-md-4">
							<div class="form-group">
								<label for="sel1">City</label>
								<select class="form-control" id="sel1" ng-change="loadDistrict()" ng-model="restaurant.city.id">
    								<option value="{{city.id}}" ng-repeat="city in cities">{{ city.name }}</option>
  								</select>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button class="btn btn-sm btn-info" ng-click="validateadd()"><strong>Check Address</strong></button>
								<button class="btn btn-sm btn-info" ng-click="submitres()" ng-disabled="validateadd"><strong>Submit</strong></button>
							</div>
						</div>
					</div>
				</form>
				<div class="row" ng-show="isfilledAdd">
					<div class="col-md-12">
						 <div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
