<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Restaurant Management</h4>			
			</div>
			<div class="content">
				<div class="row" ng-show = "errormsg">
					<div class="col-md-12">
						<div class="alert alert-info" role="alert">
							<a class="alert-link" > {{ errormsg }} </a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						 <a type="button" class="btn btn-sm btn-info" ng-click="showformres()" ng-hide="isClickAddButton">Add Restaurant</a>
						 <a type="button" class="btn btn-sm btn-info" ng-click="hideformres()" ng-show="isClickAddButton">Close Form</a>
						 <a type="button" class="btn btn-sm btn-danger" ng-click="delete(restaurant.id)" ng-show="isClickEditButton">Delete Restaurant</a>
					</div>
				</div>
				<form id="resform">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Id Admin</label>
								<input type="text" class="form-control border-input" value="{{ user._id }}" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputEmail1">Restaurant Name</label>
								<input type="text" class="form-control border-input" placeholder="Restaurant Name" ng-model="restaurant.res_name" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label>House Number</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.housenumber" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label>Street</label>
								<input type="text" class="form-control border-input" ng-model="restaurant.street" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="sel2">District</label>
								<select class="form-control" id="sel2" ng-model="restaurant.district.id" ng-disabled="!restaurant.city.id" required>
    								<option ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
  								</select>
							</div>
						</div>	
						<div class="col-md-4">
							<div class="form-group">
								<label for="sel1">City</label>
								<select class="form-control" id="sel1" ng-change="loadDistrict()" ng-model="restaurant.city.id" required>
    								<option value="{{city.id}}" ng-repeat="city in cities">{{ city.name }}</option>
  								</select>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="sel1">Description</label>
								<textarea class="form-control" rows="5" ng-model="restaurant.description"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button class="btn btn-sm btn-info" ng-click="validateadd()"><strong>Check Address</strong></button>
								<button class="btn btn-sm btn-info" ng-click="submitres()" ng-disabled="isvalidateadd"><strong>Submit</strong></button>
							</div>
						</div>
					</div>
				</form>
				<div class="row" ng-show="isfilledAdd">
					<div class="col-md-12">
						 <div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12" ng-repeat="restaurantItem in restaurantBelongUser">
		<div class="panel panel-info">
  				<div class="panel-heading">
    					<h3 class="panel-title">{{ restaurantItem.res_name }}</h3>
 		 		</div>
  				<div class="panel-body">
					  	<div class="row">
							  <div class="col-md-12">
								  <span class="ti-direction-alt" aria-hidden="true"></span> Location : {{ restaurantItem.location.housenumber }}, {{ restaurantItem.location.street }}, {{ restaurantItem.location.district }}, {{ restaurantItem.location.city }}
							  </div>
					  	</div>
						<div class="row">
							  <div class="col-md-12">
								  <span class="ti-bookmark" aria-hidden="true"></span> Comment : {{ restaurantItem.comments.length }}
							  </div>
					  	</div>
						<div class="row">
							  <div class="col-md-12">
								  <span class="ti-bookmark" aria-hidden="true"></span> Description : {{ restaurantItem.description }}
							  </div>
					  	</div>
						<div class="row">				
							<div class="col-md-12">
								<a ng-click="edit(restaurantItem._id)"><i class="ti-pencil-alt"></i> Edit</a>
							</div>
						</div>
  				</div>
		</div>
	</div>
</div>
