<div class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Gestion des emplacements</h4>			
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<a type="button" class="btn btn-sm btn-info" ng-click="showFormService()">Ajouter un emplacement</a>
						<a type="button" class="btn btn-sm btn-info" ng-click="hideFormService()" ng-show="isClickAddButtonService">Fermer la fiche</a>
					</div>
				</div>
				<form ng-show="isClickAddButtonService">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Prénom</label>
								<input type="text" class="form-control border-input" ng-model="service.service_name" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="sel1">Catégorie</label>
								<select class="form-control" id="sel1" ng-model="service.category" required>
    								<option value="{{category._id}}" ng-repeat="category in listCategoryService">{{ category.name }}</option>
  								</select>
							</div>
						</div>				
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label>Numéro de la maison</label>
								<input type="text" class="form-control border-input" ng-model="service.housenumber" required>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label>Rue</label>
								<input type="text" class="form-control border-input" ng-model="service.street" required>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="sel2">Code postale</label>
								<input type="text" class="form-control border-input" ng-model="service.postalCode" ng-change="loadCity()" ng-disabled="!service.country.id" required>
							</div>
						</div>	
						<div class="col-md-2">
							<div class="form-group">
								<label for="sel1">City</label>
								<select class="form-control" id="sel1" ng-model="service.city.id" ng-disabled="!service.postalCode" required>
    								<option value="{{city.state}}" ng-repeat="city in cities">{{ city.state }}</option>
  								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="sel1">Ville</label>
								<select class="form-control" id="sel1" ng-model="service.country.id" required>
    								<option value="{{country.Code}}" ng-repeat="country in countries">{{ country.Country }}</option>
  								</select>
							</div>
						</div>												
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="sel1">La description</label>
								<textarea class="form-control" rows="5" ng-model="service.description"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="sel1">Code SIRET</label>
								<input type="text" class="form-control border-input" ng-model="service.codesiret" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="sel1">Horaire d'ouverture</label>
								<input type="datetime" class="form-control border-input" ng-model="service.timeopen" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						<label for="sel1">Photo</label>
						<button ngf-select="uploadFiles($files, $invalidFiles)" multiple
							accept="image/*" ngf-max-height="2000" ngf-max-size="1MB" ngf-max-files="5">
						Select Files</button>
						 Files:
							<ul>
								<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
									<span class="progress" ng-show="f.progress >= 0">
										<div style="width:{{f.progress}}%"  
											ng-bind="f.progress + '%'"></div>
									</span>
								</li>
								<li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
								</li> 
							</ul>
							{{errorMsg}}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button class="btn btn-sm btn-info" ng-click="validateadd()"><strong>Vérifier L'adresse</strong></button>
								<button class="btn btn-sm btn-info" ng-click="submitres()" ng-disabled="isvalidateadd"><strong>Soumettre</strong></button>
							</div>
						</div>
					</div>
				</form>
				<div class="row" ng-show="isfilledAdd">
					<div class="col-md-12">
						 <div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12" ng-repeat="serviceItem in listService">
		<div class="panel panel-info">
  				<div class="panel-heading">
    					<h3 class="panel-title">{{ serviceItem.service_name }}</h3>
 		 		</div>
  				<div class="panel-body">
					  	<div class="row">
							  <div class="col-md-12">
								  <span class="ti-direction-alt" aria-hidden="true"></span> Location : {{ serviceItem.location.housenumber }}, {{ serviceItem.location.street }}, {{ serviceItem.location.district }}, {{ serviceItem.location.city }}
							  </div>
					  	</div>
						<div class="row">
							  <div class="col-md-12">
								  <span class="ti-bookmark" aria-hidden="true"></span> Comment : {{ serviceItem.comments.length }}
							  </div>
					  	</div>
						<div class="row">
							  <div class="col-md-12">
								  <span class="ti-bookmark" aria-hidden="true"></span> Description : {{ serviceItem.service_desciption }}
							  </div>
					  	</div>
						<div class="row">				
							<div class="col-md-12">
								<a ng-click="editService(serviceItem._id)"><i class="ti-pencil-alt"></i> Modifier</a>
							</div>
						</div>
  				</div>
		</div>
	</div>
</div>