<div class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Gestion Des Service</h4>		
				<loading></loading>
			</div>
			<div class="content table-responsive">
				<form>
    				<div class="form-group">
      					<div class="input-group">
        					<div class="input-group-addon"><i class="fa fa-search"></i></div>
        						<input type="text" class="form-control" placeholder="Search Name" ng-model="searchService">
      						</div>      
   						</div>
  				</form>
				<table class="table">
					<thead>
						<th>ID</th>
						<th>Num</th>
						<th>Prix</th>
						<th>Restaurant</th>
					</thead>
					<tbody ng-repeat="serItem in listService">
							<tr ng-repeat="ser in serItem.services | filter:searchService">
								<td>{{ ser._id }}</td>
								<td>{{ ser.service_name }}</td>
								<td>{{ ser.service_desciption }}</td>
								<td>{{ serItem.res_name }}</td>	
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>